body {
  font-family: 'Futura';
  background-color: rgb(255, 214, 235); 
  color: rgb(0, 68, 61); 
}

a {
  text-decoration: none;
}

label {
  display: block;
}


nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none; 
}

form div {
  margin: 1em;
  display: inline-block;
}

.mourn { 
  /* background-color: gray;  */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.container { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}
.sketch-container { 
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

button { 
  font-family: 'Futura';
  color: rgb(255, 214, 235); 
  background-color: rgb(0, 68, 61); 
  font-size: 16px; 
}

button:hover{ 
  font-family: 'Futura';
  background-color: rgb(255, 214, 235); 
  color: rgb(0, 68, 61); 
  font-size: 16px; 
}

.option-bar{ 
  padding-right: 50px; 
}

.moon-words { 
  width: 40%; 
}

.home-page{ 
  display: flex; 
  flex-direction: row; 
}

#defaultCanvas0 { 
  padding: 50px; 
}
.counter-text{ 
  font-size: 22px; 
  display: block;
  margin-left: auto;
  margin-right: auto; 
  border: 5px; 
  border-style: groove; 
  border-color: rgb(0, 68, 61); 
  padding: 20px; 
  margin-bottom: 50px; 

}

@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.filled-notice {
color: hsla(0, 0%, 0%, .9);
font: normal 60px Varela Round, sans-serif;
height: 100px;
left: 0;
letter-spacing: 5px;
margin: -80px 0 0 0;
position: absolute;
text-align: center;
text-transform: uppercase;
top: 50%;
width: 100%;
animation: move linear 2000ms infinite;  
padding-top: 30px; 
}

@keyframes move {
0% {
text-shadow:
  4px -4px 0 hsla(0, 100%, 50%, 1), 
  3px -3px 0 hsla(0, 100%, 50%, 1), 
  2px -2px 0 hsla(0, 100%, 50%, 1), 
  1px -1px 0 hsla(0, 100%, 50%, 1),
  -4px 4px 0 hsla(180, 100%, 50%, 1), 
  -3px 3px 0 hsla(180, 100%, 50%, 1), 
  -2px 2px 0 hsla(180, 100%, 50%, 1), 
  -1px 1px 0 hsla(180, 100%, 50%, 1)
;
}
25% {    
text-shadow:      
  -4px -4px 0 hsla(180, 100%, 50%, 1), 
  -3px -3px 0 hsla(180, 100%, 50%, 1), 
  -2px -2px 0 hsla(180, 100%, 50%, 1), 
  -1px -1px 0 hsla(180, 100%, 50%, 1),
  4px 4px 0 hsla(0, 100%, 50%, 1), 
  3px 3px 0 hsla(0, 100%, 50%, 1), 
  2px 2px 0 hsla(0, 100%, 50%, 1), 
  1px 1px 0 hsla(0, 100%, 50%, 1)      
;
}
50% {
text-shadow:
  -4px 4px 0 hsla(0, 100%, 50%, 1), 
  -3px 3px 0 hsla(0, 100%, 50%, 1), 
  -2px 2px 0 hsla(0, 100%, 50%, 1), 
  -1px 1px 0 hsla(0, 100%, 50%, 1),
  4px -4px 0 hsla(180, 100%, 50%, 1), 
  3px -3px 0 hsla(180, 100%, 50%, 1), 
  2px -2px 0 hsla(180, 100%, 50%, 1), 
  1px -1px 0 hsla(180, 100%, 50%, 1)
;
}
75% {
text-shadow:
  4px 4px 0 hsla(180, 100%, 50%, 1), 
  3px 3px 0 hsla(180, 100%, 50%, 1), 
  2px 2px 0 hsla(180, 100%, 50%, 1), 
  1px 1px 0 hsla(180, 100%, 50%, 1),
  -4px -4px 0 hsla(0, 100%, 50%, 1), 
  -3px -3px 0 hsla(0, 100%, 50%, 1), 
  -2px -2px 0 hsla(0, 100%, 50%, 1), 
  -1px -1px 0 hsla(0, 100%, 50%, 1)      
;
}
100% {
text-shadow:
  4px -4px 0 hsla(0, 100%, 50%, 1), 
  3px -3px 0 hsla(0, 100%, 50%, 1), 
  2px -2px 0 hsla(0, 100%, 50%, 1), 
  1px -1px 0 hsla(0, 100%, 50%, 1),
  -4px 4px 0 hsla(180, 100%, 50%, 1), 
  -3px 3px 0 hsla(180, 100%, 50%, 1), 
  -2px 2px 0 hsla(180, 100%, 50%, 1), 
  -1px 1px 0 hsla(180, 100%, 50%, 1)
;
}  
}

input{ 
  width: 100%; 
}

p { 
  text-align: center; 
  font-family: 'Futura';
  font-size: 16px; 
  color: rgb(0, 68, 61); 
}

input[type=text] {
  font-family: 'Futura';
  font-size: 16px; 
  color: rgb(255, 214, 235); 
  background-color: rgb(0, 68, 61); 
}
.input-container { 
  text-align: center; 
  width: 600px; 
}
table{ 
  border-spacing: 40px; 
  margin-left: 50px; 
  margin-right: 50px; 
  border-collapse: collapse;
  
  /* border-style: groove; 
  border:  5px;  */
  
}
th {
  letter-spacing: 2px;
  border-bottom: 1px solid black; 
}

td {
  letter-spacing: 1px;
  font-size: 16px; 
  border-bottom: 1px dashed black; 
}

tbody td {
  padding-left: 50px; 
  padding-right: 80px; 
  padding-top: 30px; 
  padding-bottom: 30px; 
  /* text-align: justify; */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

  .modal-main {
    padding-top: 20px; 
    padding-bottom: 20px; 
    position:fixed;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    background: rgb(255, 214, 235);
    width: 60%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  
}

.display-block {
  display: block;
}

.button-span { 
  margin: auto; 
  margin-bottom: 10px; 
}

.display-none {
  display: none;
}


.shimmer {
  /* font-family: "Lato"; */
  font-weight: 300;
  font-size: 1.5em;
  /* margin: 0 auto; */
  /* padding: 0 140px 0 0; */
  /* display: inline; */
  /* margin-bottom: 0; */
  margin-top: 0px; 
  color: white; 
}


.shimmer {
  text-align: center;
  color: rgba(255,255,255,0.1);
  background: -webkit-gradient(linear, left top, right top, from(#003D44), to(#003D44), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#003D44), to(#003D44), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#003D44), to(#003D44), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #003D44;
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.feeling-buttons { 
  display: flex; 
  justify-content: center; 
}

.neon {
  text-align: center; 
  color: rgb(0, 160, 160);
  text-shadow:
    0 0 5px  rgb(0, 170, 170),
    0 0 10px  rgb(0, 170, 170),
    0 0 20px  rgb(0, 170, 170),
    0 0 40px rgb(170, 103, 247)
    0 0 80px rgb(170, 103, 247),
    0 0 90px rgb(170, 103, 247),
    0 0 100px rgb(170, 103, 247)
    0 0 150px rgb(170, 103, 247);
}

.box { 
  padding: 20px; 
}

.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.would-you{ 
  border-style: outset; 
  padding-bottom: 10px; 
  background-color: #003D44; 
  color: #FFD6EB;
}

.would-you p { 
  color: #FFD6EB;
}

.moonscription { 
  max-width: 500px; 
}

.outer-div
{
     display: table;
     position: absolute;
     height: 100%;
     width: 100%;
}
.mid-div
{
     display: table-cell;
     vertical-align: middle;
}
.center-div
{
     margin: 0 auto;
     width: 150px;
     height: 30px;
}

.center { 
  display: flex; 
  justify-content: center; 
}

table { 
  width: 90%; 
  margin-bottom: 20px; 
}